<div class="min-h-screen dark:bg-gray-800">
<div class="mb-1 pt-9 max-w-5xl mx-auto rounded-lg shadow-md">
  <div class="flex flex-col justify-center p-4 max-w-5xl bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-900 dark:border-gray-700">
    <div class="flex justify-between items-center mb-4">
        <h3 class="text-xl font-bold leading-none text-gray-900 dark:text-white"><%= user_name(@user)%> followers </h3>
        <%# <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
            View all
        </a> %>
   </div>
    <%# Render Here %>
    <div><%= render 'shared/show_list' , users: @user_followers%></div> 
</div>
</div>
</div>