<section class="bg-white min-h-screen dark:bg-gray-800">
    <div class="container max-w-7xl px-6 py-10 mx-auto">

        <div class="flex items-center justify-center">
            <div class="flex items-center p-1 border border-blue-600 dark:border-blue-400 rounded-xl">
                <button class="px-4 py-2 text-sm font-medium text-blue-600 capitalize transition-colors duration-300 md:py-3 dark:text-blue-400 dark:hover:text-white focus:outline-none hover:bg-blue-600 hover:text-white rounded-xl md:px-12">Pending Request</button>

                <button class="px-4 py-2 text-sm font-medium text-white capitalize bg-blue-600 md:py-3 rounded-xl md:mx-8 md:px-12">People</button>

                <button class="px-4 py-2 text-sm font-medium text-blue-600 capitalize transition-colors duration-300 md:py-3 dark:text-blue-400 dark:hover:text-white focus:outline-none hover:bg-blue-600 hover:text-white rounded-xl md:px-12">Sent Request</button>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 mt-8 md:grid-cols-3 lg:grid-cols-4 gap-4 lg:gap-7">
            <!-- Person Card -->
            <% @users.each do |user| %>
            <div class="max-w-sm mx-auto bg-white dark:bg-gray-900 mt-5 rounded-lg overflow-hidden shadow-lg">
                <div class="px-4 pb-6 sm:min-w-56 min-w-56">
                    <div class="text-center my-4">
                        <%= image_tag(user_profile_photo(user), class: "h-32 w-32 rounded-full border-4 border-white dark:border-gray-800 mx-auto my-4") %>  
                        <div class="py-2">
                            <h3 class="font-bold text-2xl text-gray-800 dark:text-white mb-1"><%= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %> </h3>
                        </div>
                    </div>
                    
                     <% if current_user.followees.include?(user) %>
                         <%= button_to "Unfollow", unfollow_user_path(user), method: "POST",form_class:"flex gap-2 px-2",class:"flex-1 rounded-full bg-blue-600 dark:bg-blue-800 text-white dark:text-white antialiased font-bold hover:bg-blue-800 dark:hover:bg-blue-900 px-4 py-2"%>
                     <% else %>
                         <%= button_to "Follow", follow_user_path(user), method: "POST",form_class:"flex gap-2 px-2",class:"flex-1 rounded-full bg-blue-600 dark:bg-blue-800 text-white dark:text-white antialiased font-bold hover:bg-blue-800 dark:hover:bg-blue-900 px-4 py-2"%>
                     <% end%>
                     
                </div>
            </div>
            <% end %>  
            <!-- Repeat this block for each person -->
        </div>

    </div>
</section>
