<li>
<%=link_to "#{notification.actor.first_name.capitalize} #{notification.actor.last_name.capitalize} #{notification.action}", notification_path(notification) , class:"block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
</li>