@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
/* TODO: choosse color for scrollbar */
/* :root {
  --primary: rebeccapurple;
  --secondary: cornflowerblue;
} */
